.svn/
.*
!.gitignore

*.a
*.o
*.la
*.lo
*.s
*.so
*.so.[0-9]
*.so.[0-9].[0-9]
*.log
*.patch
*.tmp

autom4te.cache/
/bin/cunit/
/bin/readline/
/bin/yaml/
/src/usql
/src/env_macro
/src/parser/scan.h
/src/parser/scan.c
/src/parser/gram.h
/src/parser/gram.c
/test/unit/parser/miniparser/miniparser
/test/unit/interface/tdcli/tdcli
/test/unit/interface/pqlib/pqlib
/test/unit/interface/odbc/tdodbc
/test/unit/interface/myclient/myclient
/test/unit/response/parcels/parcels
/test/unit/util/ext_lib/ext_lib
/test/unit/util/passwd/passwd

/ext/lib/readline/Makefile
/ext/lib/readline/config.h
/ext/lib/readline/config.status
/ext/lib/readline/doc/Makefile
/ext/lib/readline/examples/Makefile
/ext/lib/readline/shlib/Makefile
/ext/lib/readline/stamp-h
/ext/lib/yaml/Makefile
/ext/lib/yaml/config.h
/ext/lib/yaml/config.status
/ext/lib/yaml/include/Makefile
/ext/lib/yaml/libtool
/ext/lib/yaml/src/Makefile
/ext/lib/yaml/stamp-h1
/ext/lib/yaml/tests/Makefile
/ext/lib/yaml/tests/example-deconstructor
/ext/lib/yaml/tests/example-deconstructor-alt
/ext/lib/yaml/tests/example-reformatter
/ext/lib/yaml/tests/example-reformatter-alt
/ext/lib/yaml/tests/run-dumper
/ext/lib/yaml/tests/run-emitter
/ext/lib/yaml/tests/run-loader
/ext/lib/yaml/tests/run-parser
/ext/lib/yaml/tests/run-scanner
/ext/lib/yaml/win32/Makefile
/ext/lib/yaml/yaml-0.1.pc
/ext/cunit/CUnit.spec
/ext/cunit/CUnit/Headers/Makefile
/ext/cunit/CUnit/Makefile
/ext/cunit/CUnit/Sources/Automated/Makefile
/ext/cunit/CUnit/Sources/Basic/Makefile
/ext/cunit/CUnit/Sources/Console/Makefile
/ext/cunit/CUnit/Sources/Curses/Makefile
/ext/cunit/CUnit/Sources/Framework/Makefile
/ext/cunit/CUnit/Sources/Makefile
/ext/cunit/CUnit/Sources/Test/Makefile
/ext/cunit/Examples/AutomatedTest/Makefile
/ext/cunit/Examples/BasicTest/Makefile
/ext/cunit/Examples/ConsoleTest/Makefile
/ext/cunit/Examples/CursesTest/Makefile
/ext/cunit/Examples/Makefile
/ext/cunit/Jamrules
/ext/cunit/Makefile
/ext/cunit/Man/Makefile
/ext/cunit/Man/man3/Makefile
/ext/cunit/Share/Makefile
/ext/cunit/config.h
/ext/cunit/config.status
/ext/cunit/cunit.pc
/ext/cunit/doc/Makefile
/ext/cunit/doc/headers/Makefile
/ext/cunit/libtool
/ext/cunit/stamp-h1
